<!--has to have Tech blog header and all the boxes for blog text boxes and text area-->
<section id="blogcontainer">
<div class="blog-container">
<button class="add-post"><a href="/addblog">Add a post</a></button>
{{#each user.blogs as |post| }}
<div>
<h1>{{post.title}}   {{post.user.user_name}}   {{post.date_created}}</h1>
<a href="/edit/{{post.id}}"><button class="edit-post">Edit</button></a>
<button class="delete-post" post="{{post.id}}">Delete post</button>
<p>{{post.content}}</p>
</div>
{{/each}}


</div>
</section>
<script src="/js/dashboard.js"></script>